body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: rgb(7, 58, 59);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(233, 230, 235);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#bio {
    background-color: #95989c;
    padding: 50px;
    text-align: center;
}

#projects {
    background-color: #ec1d73;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

#contact {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, textarea, button {
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
